
.cp-container{
    height: 100vh;
    width: 100%;
    background-image: url('../assets/calendar.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-color: #1f1f1f;
    display: grid;
    grid-template-columns: 5% 60% 30% 5%;
    place-items: center;
}

.cp-dropdown{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(64, 61, 67, 0.7);
    z-index: 1;
}

.cp-calendar-container{
    z-index: 3;
    grid-column-start: 2;
    width: 80%;
    aspect-ratio: 1/1;
    display: grid;
}

