
.cp-container{
    height: 100vh;
    width: 100%;
    background-image: url('../assets/calendar.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-color: #1f1f1f;
    display: grid;
    grid-template-columns: 10% 35% 5% 40% 10%;
    place-items: center;
}

.cp-dropdown{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(64, 61, 67, 0.7);
    z-index: 1;
}

.cp-calendar-container{
    z-index: 3;
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.cp-goback{
    height: 2rem;
    width: 2rem;
    padding: 0.25rem;
    border-radius: 50%;
    cursor: pointer;
    grid-column-start: 1;
}

.cp-title-container{
    display: grid;
    grid-template-columns: 3rem auto 12rem;
    width: 100%;
    gap: 1rem;
    align-items: center;
}

.cp-groupname{
    grid-column-start: 2;
}

.cp-calendar{
    width: 100%;
    aspect-ratio: 1/1;
    display: grid;
}

.cp-schedule{
    height: 80%;
    width: 100%;
    grid-column-start: 4;
    background-color: #2b2b2b7d;
    z-index: 3;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 4rem auto;
}

.cp-schedule-title{
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 4rem;
    width: 100%;
    align-items: center;
    color: white;
    justify-content: space-between;
    border-bottom: solid 1px white;
}

.cp-delete-group{
    height: 2rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b2b2b;
    gap: 1rem;
    border-radius: 50px;
    justify-self: end;
    color: white;
    cursor: pointer;
    grid-column-start: 3;
}

.cp-add-event{
    display: flex;
    height: 2.5rem;
    align-items: center;
    gap: 0.5rem;
    
    border-radius: 50px;
    width: 8rem;
    justify-content: center;
    cursor: pointer;
}

.cp-recycle{
    display: flex;
    height: 2.5rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 50px;
    width: 8rem;
    justify-content: center;
    cursor: pointer;
}

.cp-plus-icon{
    height: 1rem;
    width: 1rem;
}

.cp-events-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 70vh;
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
    overflow: scroll;
}



.cp-hours{
    height: 5rem;
    width: 100%;
    display: grid;
    justify-content: center;
    border-top: solid 1px rgba(255, 255, 255, 0.469);
}

.cp-time{
    color: white;
}

.cp-events-container::-webkit-scrollbar {
    display: none;
}
